<a href="https://colab.research.google.com/github/Shwetapathoriya/Intrenship-Main-Flow-/blob/main/Task1_Main_Flow_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



# **Creating a List**

In [5]:
#Creating a List
my_list = [5,6,7,8,9,10]

# adding an element to the list
my_list.append(11)

# Removing an element from the list
my_list.remove(8)

# Modifying an element from the list
my_list[2] = 12

# Inserting an element in the list
my_list.insert(3,13) # Use _ instead of . to reference the list

# Print("Updated list:" ,my_list)
print("Updated list:", my_list) # Added print() to display the list

Updated list: [5, 6, 12, 13, 9, 10, 11]

# **Creating a Dictionary**

In [11]:
#Creating a dictionary
my_dict ={ 'name' : 'simba', 'age' :4, 'city' : 'Mumbai' }

#adding a key-value pair to the dictionary
my_dict['gender'] = 'male'

#removing a key-value pair to the dictionary
del my_dict['age']

# modifying a value in the dictionary
my_dict['city'] = 'pune'

print("Updated Dictionary:" , my_dict)

Updated Dictionary: {'name': 'simba', 'city': 'pune', 'gender': 'male'}

# **Creating a Set**

In [13]:
# Createing a set
my_set ={5,6,7,8,9,10}

#Adding
my_set.add(11)

#Removing
my_set.remove(8)

# Modifying
my_set.discard(10)

print("Updated Set:", my_set)

Updated Set: {5, 6, 7, 9, 11}